{% load static %}

<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'buscar' %}" >
                    <input type="text" name="buscar" placeholder="O que está procurando...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Receipe Post Search
<div class="receipe-post-search mb-80">
    <div class="container">
        <form action="#" method="post">
            <div class="row">
                <div class="col-12 col-lg-5">
                    <select name="select1" id="select1">
                        {% for categoria in cat_receitas%}
                        <option value="1">{{categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-lg-2 text-right">
                    <button type="submit" class="btn delicious-btn">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div> -->